@using Aero.Cms.Shared.Layout
@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(SetupModule).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(EmptyLayout)">
            <p>Setup route not found.</p>
        </LayoutView>
    </NotFound>
</Router>
