@using Aero.Cms.Abstractions.Blocks
@using Aero.Cms.Core.Blocks

@if (Block != null)
{
    <div class="rich-text prose prose-slate max-w-none">
        @((MarkupString)Block.Content)
    </div>
}

@code {
    [Parameter]
    public RichTextBlock? Block { get; set; }
}
