<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="_content/Aero.Cms.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Aero.Cms.Shared/app.css" />
    <link rel="stylesheet" href="Aero.Cms.Web.styles.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="_content/Aero.Cms.Shared/favicon.png" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/standard-base.css" />
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@@4"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
