<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>This si the blog layout area</div>
<div>
    @RenderBody()
</div>
</body>
</html>
